<a href="https://colab.research.google.com/github/rshaikh95/datasci_1_loading/blob/main/Week1RahilShaikhHW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Healthcare Data Cleaning

### Load Data

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/HHA_507_2023/main/WK2/data/healthcare_data_cleaning.csv')
df

### Data Interpretation
#### This is a dataset regarding patient demographics, vitals and medical records.
#### There are a large number of rows and small number of columns. The hospital has a large number of patients which are the rows and the columns display specific info about said patient

In [ ]:
# Check the size and shape of the DataFrame
print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

### Data Cleaning

   badcolumn1  anothercolumn2  finalcolumn3
0           1               4             7
1           2               5             8
2           3               6             9

### Previewing Dataset to remove any duplicate row or columns

In [ ]:
paymentdue = df[['Patient Age', 'City of Residence']]
paymentdue.head(5)

In [ ]:
df['City of Residence'].value_counts()

In [ ]:
Duplicate1 = df[df['City of Residence'] == 'Lake Michael']
Duplicate1.groupby(['City of Residence']).sum()

# Chicago Public Health Data
### Births and Birth Rate of Chicago Counties from 1999-2009

In [ ]:
import pandas as pd
import json

In [ ]:

data1 = pd.read_csv('/content/Datasets/birthsbirthrateschicago1999-2009.csv', nrows=10)
print (data1)

### Births to Mothers Aged 15-19 of Chicago Counties from 1999-2009

In [ ]:

data2 = pd.read_csv('/content/Datasets/birthstomothersaged-15-19chicago1999-2009.csv',nrows=10)
print(data2)

### General Fertility Rates of Chicago Counties from 1999-2009

In [ ]:
data3 = pd.read_csv('/content/Datasets/generalfertilityrateschicago1999-2009.csv',nrows=10)
print(data3)

### Life Expectancy Rates of Chicago Counties from 1999-2009

In [ ]:
data4 = pd.read_excel('/content/Datasets/life-expectancy.xlsx',nrows=10)
print(data4)

### Low Birth Weights of Chicago Counties from 1999-2000

In [ ]:
data5 = pd.read_excel('/content/Datasets/low-birth-weight-chicago1999-2009.xlsx',nrows=10)
print(data5)

### Prenatal Care Rates of Chicago Counties from 1999-2009

In [ ]:
data6 = pd.read_excel('/content/Datasets/prenatal-care-in-chicago1999-2009.xlsx',nrows=10)
print(data6)

### Countries and Health Demographic Trends
### Displays health demographics from countries including Covid rates

In [ ]:
data7 = pd.read_json('/content/Datasets/top_countries_latest_metric_summary.json')
print(data7)

### Countries Time Series
### Displays Health Demographics from countries in a time series

In [ ]:
data8 = pd.read_json('/content/Datasets/top_countries_time_series.json')
print(data8)

### Covid Total Confirmed Cases in India
### Displays all confirmed covid cases in India

In [ ]:
data9 = pd.read_json('/content/Datasets/total_confirmed_cases.json')
print(data9)