<a href="https://colab.research.google.com/github/rshaikh95/datasci_1_loading/blob/main/Week1RahilShaikhHW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Healthcare Data Cleaning

In [9]:
import pandas as pd

data = pd.read_csv('/content/healthcare_data_cleaning.csv')
print (data)

print("Number of Rows", data.shape[0])
print("Number of Columns", data.shape[1])

print("Using Size: ", data.size)
print("Using Shape: ", data.shape)

data.head(5)

       Patient Age  Gender  City of Residence State of Residence  \
0               45   Other         West Brian           Kentucky
1               25  Female   East Jocelynfurt           Colorado
2               51   Other  South Lindseyland               Ohio
3               18  Female         Taylorfort       Pennsylvania
4               48  Female          Birdmouth            Montana
...            ...     ...                ...                ...
104995          74   Other       West Anthony           Oklahoma
104996          37    Male          Mckeetown               Utah
104997          51  Female   Lake Lisachester           Nebraska
104998     missing  Female       Heidiborough            missing
104999          45  Female      South Jeffrey      Massachusetts

       Has Insurance Visited Last Month Payment Method Preferred Doctor  \
0                Yes                Yes      Insurance     Dr. Williams
1                 No                Yes           Card      Dr. Johnson
2                Yes                 No           Cash     Dr. Williams
3                Yes            missing           Cash     Dr. Williams
4                 No                 No      Insurance        Dr. Brown
...              ...                ...            ...              ...
104995           Yes                 No           Card     Dr. Williams
104996           Yes                 No           Cash        Dr. Jones
104997           Yes                Yes      Insurance     Dr. Williams
104998           Yes                 No           Cash        Dr. Smith
104999            No                Yes           Cash        Dr. Brown

       Disease Diagnosed Medication Prescribed Type of Appointment  \
0                    Flu                 Med_E             General
1                    Flu                 Med_B          Specialist
2               Covid-19                 Med_D             General
3                    Flu                 Med_A             General
4                   None                 Med_C          Specialist
...                  ...                   ...                 ...
104995          Covid-19                 Med_E          Specialist
104996          Covid-19                 Med_C             General
104997           Allergy                 Med_D           Follow-Up
104998          Covid-19                 Med_A           Follow-Up
104999           Allergy                 Med_D             General

       Average Heart Rate Average BP Height (in cm) Weight (in kg)  \
0                      66        111            183             70
1                      59    missing            174             58
2                      79        119            161             56
3                      99        115            171             52
4                      93         89            186             87
...                   ...        ...            ...            ...
104995                 65        112            169             61
104996            missing        111            165             67
104997                 89        118            179             71
104998                 74        123            167             75
104999                 77        140            167             62

           Payment Due ($) Last Visit (days ago) Visit Duration (mins)  \
0        65.45721578126224                   193                    92
1       430.68365678679174                   195               missing
2        315.0709305262176               missing                    37
3        320.2998987723972                   175                   108
4        264.2147372473319                   188                   113
...                    ...                   ...                   ...
104995  309.16444606680665                   183                    10
104996             missing                   191                    47
104997   320.8304180033907                   172                    39
104998   5.341231420036174                   180                    79
104999  454.94983945860804                   167                    81

       Number of Tests Prescription Cost ($)
0                    5     15.71751735532889
1                    4     80.78647284463952
2                    2      64.3921393009105
3                    2     8.872859215315316
4                    3     77.48311304645532
...                ...                   ...
104995               3     63.20478776719894
104996               2    113.86764025370326
104997               3    35.622420232475356
104998         missing     124.4083409893742
104999         missing     87.91060149353706

[105000 rows x 20 columns]
Number of Rows 105000
Number of Columns 20
Using Size:  2100000
Using Shape:  (105000, 20)

,Patient Age,Gender,City of Residence,State of Residence,Has Insurance,Visited Last Month,Payment Method,Preferred Doctor,Disease Diagnosed,Medication Prescribed,Type of Appointment,Average Heart Rate,Average BP,Height (in cm),Weight (in kg),Payment Due ($),Last Visit (days ago),Visit Duration (mins),Number of Tests,Prescription Cost ($)
0,45,Other,West Brian,Kentucky,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,General,66,111,183,70,65.45721578126224,193,92,5,15.71751735532889
1,25,Female,East Jocelynfurt,Colorado,No,Yes,Card,Dr. Johnson,Flu,Med_B,Specialist,59,missing,174,58,430.68365678679174,195,missing,4,80.78647284463952
2,51,Other,South Lindseyland,Ohio,Yes,No,Cash,Dr. Williams,Covid-19,Med_D,General,79,119,161,56,315.0709305262176,missing,37,2,64.3921393009105
3,18,Female,Taylorfort,Pennsylvania,Yes,missing,Cash,Dr. Williams,Flu,Med_A,General,99,115,171,52,320.2998987723972,175,108,2,8.872859215315316
4,48,Female,Birdmouth,Montana,No,No,Insurance,Dr. Brown,None,Med_C,Specialist,93,89,186,87,264.2147372473319,188,113,3,77.48311304645532

# Chicago Public Health Data
### Births and Birth Rate of Chicago Counties from 1999-2009

In [ ]:
import pandas as pd
import json

In [ ]:

data1 = pd.read_csv('/content/Datasets/birthsbirthrateschicago1999-2009.csv', nrows=10)
print (data1)

### Births to Mothers Aged 15-19 of Chicago Counties from 1999-2009

In [ ]:

data2 = pd.read_csv('/content/Datasets/birthstomothersaged-15-19chicago1999-2009.csv',nrows=10)
print(data2)

### General Fertility Rates of Chicago Counties from 1999-2009

In [ ]:
data3 = pd.read_csv('/content/Datasets/generalfertilityrateschicago1999-2009.csv',nrows=10)
print(data3)

### Life Expectancy Rates of Chicago Counties from 1999-2009

In [ ]:
data4 = pd.read_excel('/content/Datasets/life-expectancy.xlsx',nrows=10)
print(data4)

### Low Birth Weights of Chicago Counties from 1999-2000

In [ ]:
data5 = pd.read_excel('/content/Datasets/low-birth-weight-chicago1999-2009.xlsx',nrows=10)
print(data5)

### Prenatal Care Rates of Chicago Counties from 1999-2009

In [ ]:
data6 = pd.read_excel('/content/Datasets/prenatal-care-in-chicago1999-2009.xlsx',nrows=10)
print(data6)

### Countries and Health Demographic Trends
### Displays health demographics from countries including Covid rates

In [ ]:
data7 = pd.read_json('/content/Datasets/top_countries_latest_metric_summary.json')
print(data7)

### Countries Time Series
### Displays Health Demographics from countries in a time series

In [ ]:
data8 = pd.read_json('/content/Datasets/top_countries_time_series.json')
print(data8)

### Covid Total Confirmed Cases in India
### Displays all confirmed covid cases in India

In [ ]:
data9 = pd.read_json('/content/Datasets/total_confirmed_cases.json')
print(data9)